* {
  padding: 0;
  margin: 0;
}

.login {
  /* background-color: red; */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px;
  text-align: center;
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 5px solid black; */
  text-align: center;
  width: 80%;
  margin-left: 50px;
  margin-top: 70px;
}

#name {
  width: 48%;
  margin-left: 14px;
  margin-bottom: 20px;
}

.form button {
  width: 50%;
  margin-left: 108px;
}

.box-buttons {
  width: 100%;
  height: 100%;
  float: left;
  margin-left: 20px;
}

.btn {
  width: 100%;
  line-height: 40px;
  max-width: 160px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  text-align: center;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  float: left;
}

.btn:hover {
  text-decoration: none;
}

.btn-efeito {
  overflow: hidden;
  position: relative;
  background-color: #095599;
}

.btn-efeito:hover {
  background-color: #0073d9;
}

.btn-efeito span {
  z-index: 20;
}

.btn-efeito:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -85px;
  opacity: .4;
  position: absolute;
  top: -60px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 70px;
  z-index: 1;
}

.btn-efeito:hover:after {
  left: 130%;
  -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header {
  /* border: 3px solid red; */
  margin-top: 0;
  height: 20%;
}

.header_user {
  /* border: 1px solid blue; */
  text-align: center;
  background-color: rgb(182, 245, 226);
}

.header_links {
  /* border: 4px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(120, 199, 147);
}

.search_input {
  /* border: 4px solid black; */
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}

.list_albuns {
  /*  border: 4px solid black; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10px;

}

.albuns {
  /* border: 4px solid black; */
  justify-content: center;
  margin: 5px;
}

.album_musics {
  display: flex;
  justify-content: space-around;
}

.album_info {
  margin-top: 100px;
}

.music {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(190, 223, 245);
  text-align: center;
  margin: 5px;
}

.not_album {
  margin-top: 30px;
  margin-left: 385px;
}